@import "tailwindcss";
/* tailwind.css or global.css */
.paint-border {
    border-width: 20px;
    border-style: solid;
    border-image-source: url('/paint-border.png'); /* your stain-like border image */
    border-image-slice: 30; /* adjust based on image */
    border-image-repeat: round;
  }
  
  /* src/index.css or src/App.css */
@font-face {
  font-family: 'Bungee';
  src: url('./assets/fonts/BungeeLayers-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

/* Optional: assign a Tailwind utility class */
.my-font {
  font-family: 'Bungee', sans-serif;
}

@layer utilities {
  .text-outline {
    color: transparent;
    -webkit-text-stroke: 2px white; /* Tailwind orange-500 */
    text-stroke: 2px black;
  }
}
